<center><img src="https://image.shutterstock.com/image-illustration/bitcoin-banner-header-gold-coin-260nw-712164721.jpg" width="1000px"  ></center>

In [22]:
from IPython.display import Image
Image(url='https://image.freepik.com/free-vector/crypto-currency-horizontal-banner-bitcoin-digital-web-money-technology_48369-13318.jpg',width=1000,height=10,)

In [14]:
import pandas as pd

In [15]:
data1 = pd.read_csv("Coinbased _Dataset.csv")
data2 = pd.read_csv('./bitstampUSD_1-min_data_2012-01-01_to_2019-08-12.csv')

In [16]:
data1.shape

(2099760, 8)

In [17]:
data2.shape

(3997697, 8)

In [18]:
data1.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1417411980,300.0,300.0,300.0,300.0,0.01,3.0,300.0
1,1417412040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1417412100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1417412160,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1417412220,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
data2.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1325317920,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
1,1325317980,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1325318040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1325318100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1325318160,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
data1.isnull().sum()

Timestamp                 0
Open                 109069
High                 109069
Low                  109069
Close                109069
Volume_(BTC)         109069
Volume_(Currency)    109069
Weighted_Price       109069
dtype: int64

In [22]:
data2.isnull().sum()

Timestamp                  0
Open                 1231878
High                 1231878
Low                  1231878
Close                1231878
Volume_(BTC)         1231878
Volume_(Currency)    1231878
Weighted_Price       1231878
dtype: int64

In [21]:
from IPython.display import Image
Image(url='https://image.freepik.com/free-vector/crypto-currency-horizontal-banner-bitcoin-digital-web-money-technology_48369-13318.jpg',width=1000,height=10,)

<img src="../Data Visualization/mygraph.png" >

<center><img src="https://image.shutterstock.com/image-illustration/bitcoin-banner-header-gold-coin-260nw-712164721.jpg" width="1000px"  ></center>